<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='./css/styles.css'/>
        <title>
            Express practice about  
        </title>
    </head>
    <body>
        {{>header}}
        {{body}}

        <img class='index-img' src="./img/test.png"/>

        {{>footer}}
        

    </body>
</html>