<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='./css/styles.css'/>
        <title>
            Express practice help
        </title>
    </head>
    <body>
        {{>header}}
        <p>{{text}}</p>

        {{>footer}}

    </body>
</html>